# common file
/node_modules
.DS_Store

# Build
/release
.node

# Vim
# swap
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
# session
Session.vim
# temporary
.netrwhist
*~

# Node
npm-debug.log
/build

example/src/_res
