# common file
/node_modules
.DS_Store

bin/create-dmg/
bin/node_modules/

# Build
/release
.node
config/config.js
# Vim
# swap
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
# session
Session.vim
# temporary
.netrwhist
*~

# Node
npm-debug.log
/build

example/src/_res
