
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>test</title>
    <style>
      body {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        -webkit-app-region: no-drag;
      }

      .canvas {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
      }


    </style>
  </head>
  <body>
    <canvas class="canvas" id="screenshot"></canvas>
    <canvas class="canvas" id="cutter"></canvas>
    <script>
      'use strict';
      var log = require('../lib/log');
      var ipc = require('electron').ipcRenderer;
      var $ = require('jquery');
      var screenshot;
      function captureScreenShot(callback) {
        let desktopCapturer = require('electron').desktopCapturer;
        let width = screen.width;
        let height = screen.height;
        desktopCapturer.getSources(
          {
            types: ['screen'],
            thumbnailSize: {
              width: width,
              height: height
            }
          },
          function (err, sources) {
            if (err) {
              log.error('screenshot error', err);
              return;
            }
            screenshot = sources[0].thumbnail.toDataURL();
            callback && callback();
          }
        );
      };

      captureScreenShot(function () {
        log.debug('screenshot done');
        ipc.send('cutwindow-ready');
        new Cutter;
      });

      class Cutter {
        constructor() {
          this.canvasScreenShot = document.getElementById('screenshot');
          this.canvasCutter = document.getElementById('cutter');
          this.width = window.screen.width;
          this.height = window.screen.height;
          this.canvasScreenShot.width = this.width;
          this.canvasScreenShot.height = this.height;

          this.canvasCutter.width = this.width;
          this.canvasCutter.height = this.height;

          this.cutInfo = {
            x: 0,
            y: 0,
            right: 0,
            bottom: 0
          };
          this.loadScreenShot();
          this.drawCutLayer();
          let self = this;
          $(document).dblclick(function () {
            ipc.send('cut', self.cutInfo);
          });
          $(document).on('mousedown', function (e) {
            self.startCut(e);
          });
          $(document).on('mousemove', function (e) {
            self.cutting(e);
          });
          $(document).on('mouseup', function (e) {
            self.stopCut(e);
          });
          $(window).on('keyup', function (e) {
            switch (e.keyCode) {
              case 13: // ENTER
                ipc.send('cut', self.cutInfo);
                break;
              case 27: // ECS
                if (self.flagCut) {
                  self.reset();
                } else {
                  ipc.send('cutwindow-close');
                }
                break;
            }
          });
        }
        loadScreenShot() {
          let img = new Image();
          let ctx = this.canvasScreenShot.getContext('2d');
          let self = this;

          img.onload = function () {
            ctx.clearRect(0, 0, self.width, self.height);
            ctx.drawImage(img, 0, 0);
          };

          if (screenshot) {
            img.src = screenshot;
          }
        }
        drawCutLayer() {
          let ctx = this.canvasCutter.getContext('2d');
          ctx.fillStyle = 'rgba(0, 0, 0, 0.6)';
          ctx.clearRect(0, 0, this.width, this.height);
          ctx.rect(0, 0, this.width, this.height);
          ctx.fill();
          if (!this.cutInfo.width || !this.cutInfo.height) {
            return;
          }
          ctx.clearRect(
            this.cutInfo.x,
            this.cutInfo.y,
            this.cutInfo.width,
            this.cutInfo.height
          );
        }
        getCutRect() {
          return this.cutInfo;
        }
        startCut(e) {
          this.flagCut = true;
          this.isCutter = 1;
          this._cx = e.pageX;
          this._cy = e.pageY;
        }
        stopCut(e) {
          this.isCutter = false;
        }
        cutting(e) {
          if (!this.isCutter) {
            return;
          }
          if (this.isCutter === 1) {
            this.cutInfo.x = this._cx;
            this.cutInfo.y = this._cy;
            this.isCutter = 2;
          }
          let width = e.pageX - this.cutInfo.x;
          let height = e.pageY - this.cutInfo.y;
          if (!width || !height) {
            return;
          }
          this.cutInfo.width = width;
          this.cutInfo.height = height;
          this.drawCutLayer();
        }
        reset() {
          this.cutInfo = {
            x: 0,
            y: 0,
            width: 0,
            height: 0
          };
          this.flagCut = false;
          this.drawCutLayer();
        }
      }

      
    </script>
  </body>
</html>