<link rel="stylesheet" href="../node_modules/codemirror/lib/codemirror.css" />
<link rel="stylesheet" href="../node_modules/codemirror/theme/base16-light.css"/>
<style type="text/css">
    .main {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
    }
    .menu {
        flex: 1;
        background: #e3e3e3;
    }
    .editor {
        flex: 2;
        overflow:hidden;
        background: #f6f6f6;
    }
    .editor .inner {
        margin:0px;
    }
    .preview {
        flex: 2;
        overflow: scroll;
    }
    .preview .inner {
        word-wrap: break-word;
        word-break: break-all;
        margin: 0px 10px;
        overflow: scroll;
    }
    .inner {
        margin: 5px;
    }

    .menu .inner {
        margin:0px;
        height: 100%;
    }

    .trewview ul,  .trewview li {
        margin-left: 0px;
        padding-left: 0px;
    }

    .trewview ul, .trewview li {
        list-style: none;
    }

    .trewview a,  .trewview a:link{
        display: block;
        color: #676767;
        padding: 0px 10px;
        line-height: 160%;
        text-decoration: none;
    }
    .trewview a:hover{
        background: #d1d1d1;
    }
    .menu a.level1 {
        padding-left: 30px;
    }
    .menu a.level2 {
        padding-left: 50px;
    }
    .menu a.level3 {
        padding-left: 70px;
    }
    .menu a.level4 {
        padding-left: 90px;
    }
    .menu a.level5 {
        padding-left: 110px;
    }
    .menu a.level6 {
        padding-left: 130px;
    }
    .editor .inner{
        overflow: hidden;
    }
    .CodeMirror {
        height: 100%;
        overflow: hidden;
    }

    .cm-header-1 {font-size: 1.6em;}
    .cm-header-2 {font-size: 1.4em;}
    .cm-header-3 {font-size: 1.2em;}
    .cm-header-4 {font-size: 1.1em;}
    .cm-header-5 {font-size: 1.05em;}
    .cm-header-6 {font-size: 1em;}
    .cm-quote {color: #90a959;}
    .cm-s-base16-light .CodeMirror-activeline-background {
        background: #f9f9f9;
    }
    .cm-s-base16-light.CodeMirror {
        background: #f6f6f6;
    }
    .CodeMirror pre {
        padding: 0px 10px;
    }
</style>
<% include common/head.html %>
<div id="main" class="main">
    <div class="menu" id="menu">
        <div class="trewview"></div>
    </div>
    <div class="editor" id="editor">
        <div class="toolbar" style="margin-top:5px;">
            <div class="toolbar-inner">
                <div class="btn-toolbar" role="toolbar" style="margin: 0;">
                </div>
            </div>
        </div>
        <div class="content"></div>
    </div>
    <div class="preview" id="preview">
        <div class="inner"></div>
    </div>
</div>