<link rel="stylesheet" href="../node_modules/codemirror/lib/codemirror.css" />
<link rel="stylesheet" href="../node_modules/codemirror/theme/base16-light.css"/>
<style type="text/css">
    .main {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
    }
    .menu {
        width: 15%;
        height: 100%;
        vertical-align: top;
        background: #69686A;
    }
    .editor {
        width: 40%;
        vertical-align: top;
        padding: 0px;
    }
    .editor .inner {
        margin:0px;
    }
    .preview {
        vertical-align: top;
        width: 45%;
    }
    .inner {
        margin: 5px;
    }

    .menu .inner {
        margin:0px;
        height: 100%;
    }

    .trewview ul,  .trewview li {
        margin-left: 0px;
        padding-left: 0px;
    }

    .trewview ul, .trewview li {
        list-style: none;
    }

    .trewview a,  .trewview a:link{
        display: block;
        color: #fff;
        padding: 0px 5px;
        line-height: 150%;
        text-decoration: none;
    }
    .trewview a:hover{
        background: #777
    }
    .menu a.level1 {
        padding-left: 15px;
    }
    .menu a.level2 {
        padding-left: 25px;
    }
    .menu a.level3 {
        padding-left: 35px;
    }
    .menu a.level4 {
        padding-left: 45px;
    }
    .menu a.level5 {
        padding-left: 55px;
    }
    .menu a.level6 {
        padding-left: 65px;
    }
    .editor .inner{
        overflow: hidden;
    }
    .CodeMirror {
        height: 100%;
        overflow: hidden;
    }

    .cm-header-1 {font-size: 1.6em;}
    .cm-header-2 {font-size: 1.4em;}
    .cm-header-3 {font-size: 1.2em;}
    .cm-header-4 {font-size: 1.1em;}
    .cm-header-5 {font-size: 1.05em;}
    .cm-header-6 {font-size: 1em;}
    .cm-quote {color: #90a959;}
    .CodeMirror-activeline-background {
        background: rgb(239, 239, 241);
    }
</style>

<table class="main">
    <tr>
        <td class="menu">
            <div class="inner trewview">

            </div>
        </td>
        <td class="editor">
            <div class="inner" id="editor">
                <div class="toolbar" style="display:none">
                    <div class="toolbar-inner">
                        <div class="btn-toolbar" role="toolbar" style="margin: 0;">
                        </div>
                    </div>
                </div>
                <div class="content"></div>
            </div>
        </td>
        <td style="vertical-align: top">
            <div class="inner" id="preview">
                preivew
            </div>
        </td>
    </tr>
</table>