<link rel="stylesheet" href="../node_modules/highlight.js/styles/xcode.css" />
<link rel="stylesheet" href="../node_modules/codemirror/lib/codemirror.css" />
<link rel="stylesheet" href="../node_modules/codemirror/theme/base16-light.css"/>
<style type="text/css">
    .main {
        width: 100%;
        height: 100%;
        display: flex;
    }
    .menu {
        width: 200px;
    }
    .menu li {
        cursor: pointer;
    }
    .menu .title {
        font-weight: bold;
        font-size: 16px;
        padding: 0px 10px;
        height: 36px;
        line-height: 36px;
        color: #fff;
    }
    .menu .tools {
        height: 24px;
        line-height: 24px;
        background: #e1e1e1;
        color: #888;
    }
    .menu .tools a {
        text-decoration: none;
        margin-left: 5px;
    }
    .menu .tools .icon {
        font-size: 18px;
    }
    .editor {
        flex: 1;
        overflow:hidden;
        display: flex;
        flex-flow: column nowrap;
    }
    .editor .toolbar {
        height: 36px;
        padding: 8px 10px;
    }
    .editor .toolbar a {
        font-size: 14px;
        color: #fff;
        padding: 2px;
        display: inline-block;
        cursor: pointer;
        -webkit-app-region: no-drag;
    }
    .editor .toolbar a:hover {
        color: #666;
        background: #ccc;
        border-radius: 4px;
    }
    .editor .toolbar .file-change {
        color: #95ff7e;
    }
    .editor .editor-cnt {
        flex: 1;
        background: #f9f9f9;
        border-left: 1px solid #eaeaea;
        border-right: 1px solid #f2f2f2;
        padding: 10px 0px;
    }
    .preview {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        width: 100px; /** flex 布局防撑开 **/
    }
    .preview .inner {
        word-wrap: break-word;
        word-break: break-all;
        margin: 0;
        overflow: auto;
        position: relative;
        line-height: 180%;
        background: #fefefe;
        padding: 10px 26px;
        flex: 1;
    }
    .preview .title {
        margin-left: 10px;
        height: 36px;
        line-height: 36px;
        color: #fff;
    }
    .preview pre {
        background: #f6f6f6;
        border-radius: 4px;
        padding: 10px;
        color: #777;
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: break-all;
    }
    .preview table {
        min-width: 450px;
        border-collapse: collapse;
    }
    .preview td, .preview th {
        border: 1px solid #dedede;
        padding: 5px 10px;
    }
    .preview th {
        background-color:#eee;
    }
    .preview tr:nth-child(2n) {
        background-color:#f3f3f3;
    }
    .preview blockquote {
        margin: 5px;
        margin-left: 20px;
        padding: 5px 10px;
        color: #999;
        background: #fafafa;
        border-left: 4px solid #eee;
    }

    .treeview {
        padding: 6px 0px;
        height: 1px;
        overflow: auto;
        background: #eee;
        flex: 1;
    }
    .treeview ul {
        margin: 0px;
        padding: 0px;
        counter-reset:num;}
    }
    .treeview li {
        margin: 1px;
        padding: 0px;
    }
    .treeview .icon {
        float: right;
        font-size: 12px;
        font-style: normal;
        cursor: pointer;
        padding: 0px 4px;
        vertical-align: middle;
        color: #aaa;
        -webkit-transform: rotate(0deg);
    }
    .treeview .icon:hover {
        color: #666;
    }
    .treeview .icon_open {
        /* -webkit-transform: rotate(90deg); */
    }
    .treeview a:before{
        content: counters(num,'.') '. ';
        counter-increment:num;
        color: #888;
    }

    .treeview ul{
        list-style: none;
    }

    .treeview a,  .treeview a:link {
        font-size: 14px;
        display: block;
        color: #454545;
        padding: 0px 10px;
        line-height: 220%;
        text-decoration: none;
    }
    .treeview a:hover{
        background: #d1d1d1;
    }
    .menu a.level1 {
        padding-left: 30px;
    }
    .menu a.level2 {
        padding-left: 50px;
    }
    .menu a.level3 {
        padding-left: 70px;
    }
    .menu a.level4 {
        padding-left: 90px;
    }
    .menu a.level5 {
        padding-left: 110px;
    }
    .menu a.level6 {
        padding-left: 130px;
    }
    .menu .active {
        background: #d1d1d1;
    }
    .menu .dragging {
        background: #f8f8f8;
    }

    .menu .git {
        display: none;
        position: fixed;
        top: 100px;
        left: 180px;
        width: 600px;
        background: #fff;
        box-shadow:0 0 10px #666;
        z-index: 100;
    }
    .menu .git .title {
        background: #999;
        color: #fff;
        padding: 0px 10px;
    }
    .menu .git .title .close {
        float: right;
    }
    .menu .git .opt {
        background: #ccc;
        color: #fff;
        padding: 0px 10px;
        line-height: 180%;
    }
    .menu .git .opt a {
        text-decoration: none;
        margin-right: 20px;
    }
    .menu .git .cnt {
        padding: 10px;
        height: 400px;
        overflow: auto;
    }

    .cm-s-base16-light span.cm-quote {
        color: #90a959;
    }
    .cm-header {color: #444;}
    .cm-header-1 {font-size: 1.6em;}
    .cm-header-2 {font-size: 1.4em;}
    .cm-header-3 {font-size: 1.2em;}
    .cm-header-4 {font-size: 1.1em;}
    .cm-header-5 {font-size: 1.05em;}
    .cm-header-6 {font-size: 1em;}
    .cm-quote {color: #90a959;}
    .cm-s-base16-light .CodeMirror-activeline-background {
        background: #f9f9f9;
    }
    /** 编辑器主样式 */
    .cm-s-base16-light.CodeMirror {
        height: 100%;
        overflow: hidden;
        line-height: 180%;
        background: transparent;
        font-family: 'menlo', 'Helvetica', 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'STHeitiSC-Light', 'Arial', sans-serif;
        padding: 0px 24px;
    }
    .CodeMirror-scroll {
        padding-bottom: 50px;
        margin-right: -34px;
    }
    .cm-s-base16-light .CodeMirror pre {
        padding: 0px 10px;
        line-height: 180%;
        font-family: 'menlo', 'Helvetica', 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'STHeitiSC-Light', 'Arial', sans-serif;
    }
    .CodeMirror-wrap pre {
        word-break: break-all;
    }
    .cm-s-base16-light div.CodeMirror-selected {
        background:#ccc;
    }
    .cm-s-base16-light span.cm-variable-2 {
        color: #3575CF;
    }
    .cm-s-base16-light span.cm-variable-3 {
        color: #59ABD0;
    }
    .cm-s-base16-light span.cm-variable-4 {
        color: #59ABD0;
    }
    .cm-s-base16-light span.cm-comment {
        color: #2da596;
    }
</style>
<div id="main" class="main">
    <div class="menu" id="menu">
        <div class="title title-bar" style="-webkit-app-region:drag;-webkit-user-select: none;">
            <span class="book-title" style="-webkit-app-region: no-drag;"></span>
        </div>
        <div class="tools">
            <a id="git" title="git tools" class="icon iconfont icon-gitbranch" href="" ></a>
            <a id="explorer" title="explorer book dir" class="icon iconfont icon-ttpodicon" href="" ></a>
            <!-- <a id="export_pdf" title="export pdf" class="icon iconfont icon-pdf1" href="" ></a> -->
        </div>
        <div class="treeview"></div>
        <div class="git">
            <div class="title">
                <a href="" class="close"><img src="./imgs/btn_close_hover.png" /></a>
                git: <span class="git-url"></span>
            </div>
            <div class="opt">
                <a action="status" href="">status</a>
                <a action="pull" href="">pull</a>
                <a action="commit" href="">commit</a>
                <a action="tag" href="">tag</a>
                <a action="push" href="">push</a>
            </div>
            <div class="cnt"></div>
        </div>
    </div>
    <div class="editor" id="editor">
        <div class="toolbar" style="-webkit-app-region:drag;">
            <a id="edit_btn_save" title="save" class="icon iconfont icon-baocun2"></a>
            <a id="edit_btn_cut" title="cut" class="icon iconfont icon-jianqie"></a>
            <!--
            <a class="icon iconfont icon-tupian"></a>
            <a class="icon iconfont icon-shipin"></a>
            -->
        </div>
        <div class="editor-cnt">

        </div>
    </div>
    <div class="preview" id="preview">
        <div class="title" style="-webkit-app-region:drag;">
        </div>
        <div class="inner"></div>
    </div>
</div>
