<!DOCTYPE html>
<html manifest="manifest.appcache">
  <head>
      <meta charset="utf-8">
      <title>GitBook Editor</title>
      <style type="text/css">
        body {
          padding: 0px;
          margin: 0px;
          font-family: 'Helvetica', 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'STHeitiSC-Light', 'Arial', sans-serif;
          font-size: 14px;
          overflow: hidden;
        }
        ::-webkit-scrollbar-thumb {
          display: none;
        }
        .dragable {
          -webkit-app-region:drag;
          -webkit-user-select: none;
        }
      </style>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>
  <body>

  </body>
  <script type="text/javascript">
    'use strict';
    (function () {
      const {ipcRenderer} = require('electron');
      const remote = require('electron').remote;
      const log = require('../lib/log');
      let lastApp;
      function router() {
        let hash = location.hash.substr(2);
        let url = require('url');
        /**
         * router {
         *     pathname: 路径
         *     query: 查询参数
         * }
         * @type {String}
         */
        let router = url.parse(hash, true);
        let path = require('path');

        if (lastApp) {
          lastApp.destroy();
        }
        log.debug('loading controller: ', router.pathname);
        let Controller;
        try {
          Controller = require(path.join(__dirname, '../controller', router.pathname));
        } catch (e) {
          log.error('loading controller error', e.stack);
        }
        try {
          log.debug('new controller: ', router.query);
          lastApp = new Controller(router.query);
          log.debug('resize');
          lastApp.resize && lastApp.resize();
          lastApp.on('scene', function (data) {
            ipcRenderer.sendSync('scene', data);
          });
        } catch (e) {
          log.error('init controller error', e.stack);
        }
      }
      window.addEventListener('resize', function () {
        // let w = window.document.documentElement.clientWidth;
        // let h = window.document.documentElement.clientHeight;
        lastApp.resize && lastApp.resize();
      });
      window.addEventListener('hashchange', function () {
        log.debug('hashchange');
        router();
      }, false);
      window.addEventListener('keydown', function (e) {
        if (!e.metaKey && !e.ctrlKey) {
          return;
        }
        if (e.keyCode !== 73) {
          return;
        }
        ipcRenderer.sendSync('devtools');
      });

      window.action_close = function () {
        let win = remote.BrowserWindow.getFocusedWindow();
        win.close();
      };
      window.action_min = function () {
        ipcRenderer.sendSync('win_min');
      };
      window.action_max = function () {
        ipcRenderer.sendSync('win_max');
      };

      log.debug('init default app');
      router();
    })();
  </script>
</html>
